@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

$Purple: hsl(259, 100%, 65%);
$Light-red: hsl(0, 100%, 67%);
$White: hsl(0, 0%, 100%);
$Off-white: hsl(0, 0%, 94%);
$Light-grey: hsl(0, 0%, 86%);
$Smokey-grey: hsl(0, 1%, 44%);
$Off-black: hsl(0, 0%, 8%);

body {
  margin: 0;
  padding: 0;
  background-color: $Off-white;
  font-family: "Poppins", serif;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 580px) {
    height: auto;
  }
}

.calculator {
  margin: 1rem;
  box-sizing: border-box;
  padding: 3rem;
  width: 700px;
  height: auto;
  background-color: $White;
  border-radius: 1.6rem;
  border-bottom-right-radius: 10rem;

  @media (max-width: 580px) {
    width: 500px;
    padding: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;

    .input-container {
      display: flex;
      gap: 1.8rem;

      @media (max-width: 580px) {
        gap: 1rem;
      }

      label {
        display: flex;
        flex-direction: column;
        color: $Smokey-grey;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 0.97rem;

        @media (max-width: 580px) {
          font-size: 0.87rem;
        }

        input {
          margin: 0.4rem 0;
          width: 120px;
          height: 60px;
          padding-left: 1rem;
          outline: none;
          border-radius: 0.5rem;
          border: 1px solid $Light-grey;
          font-size: 1.8rem;
          font-family: inherit;
          font-weight: 700;

          @media (max-width: 580px) {
            width: 76px;
            font-size: 1.2rem;
          }
        }

        input:focus {
          background-color: rgb(232, 240, 254);
        }

        span {
          text-transform: initial;
          font-family: Arial, Helvetica, sans-serif;
          color: $Light-red;
          font-size: 0.9rem;
          letter-spacing: 0;
        }

        .error {
          border: 1px solid $Light-red;
        }

        input::placeholder {
          font-size: inherit;
        }

        input:focus {
          border: 1px solid $Purple;
        }
      }
    }

    .btn-container {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      position: relative;

      hr {
        width: 100%;
        border: none;
        border-bottom: 2px solid $Light-grey;
      }

      button {
        border: none;
        padding: 1.4rem;
        background-color: $Purple;
        border-radius: 50%;
        transition: all 0.3s;

        @media (max-width: 700px) {
          position: absolute;
          padding: 0;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          width: 90px;
          height: 90px;
        }

        @media (max-width: 580px) {
          width: 70px;
          height: 70px;
        }
      }

      button:hover {
        cursor: pointer;
        background-color: $Off-black;
      }
    }
  }

  .result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0;
      line-height: 5rem;
      font-size: 4.5rem;
      font-style: italic;
      font-weight: 700;

      @media (max-width: 580px) {
        font-size: 3rem;
        line-height: 3.6rem;
      }

      span {
        color: $Purple;
      }
    }
  }
}
